.container {
    width: 1366px;
    background-color: #282C33;
}

.First {
    width: 1024px;
    height: 423px;
    flex-shrink: 0;
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    margin-left: 321px;
}

.top__part {
    display: flex;
    flex-direction: row;
}

.about__text1 {
    width: 651px;
    color: white;
    font-family: Fira Code;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.name__text1 {
    padding: 2px;
}

.name__text2 {
    padding: 14px;
}

.name__text3 {
    padding: 14px;
}

.name__text4 {
    padding: 14px;
}

.about__text2 {
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.contact__btn {
    border: 1px solid var(--primary, #C778DD);
    display: inline-flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    background-color: transparent;
    color: white;
    width: 116px;
    margin-top: 24px;
}

.person__img {
    margin-left: 30px;
    margin-left: -38px;
    z-index: 1;
}

.bgimg1 {
    margin-top: -174px;
    margin-left: -334px
}

.box__purple {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border: 1px solid var(--primary, #C778DD);
    background: var(--primary, #C778DD);
    margin-right: 10px;
}

.person__text1 {
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--gray, #ABB2BF);
    background: var(--background, #282C33);
    padding: 8px;
    margin-left: -23px;
    width: 389px;
}

.person__text2 {
    padding-left: 10px;
}

.dots__1 {
    margin-top: 207px;
    margin-left: -100px;
}

.projects {
    width: 1027px;
    margin-left: 200px;
}

.title__con {
    display: flex;
    flex-direction: row;
    margin-left: 203px;
    width: 900px;
}

.line {
    height: 1px;
    width: 500px;
    background-color: var(--primary, #C778DD);
    margin-top: 54px;
    margin-left: 68px;
}

.projects__title {
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.projects__link {
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 42px;
    margin-left: 79px;
    text-decoration: none;
}

.card1 {
    width: 331px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--gray, #ABB2BF);

    img {
        border-bottom: 1px solid var(--gray, #ABB2BF);
    }

    h4 {
        color: var(--gray, #ABB2BF);
        font-family: Fira Code;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .card__1__text1 {
        display: flex;
        padding-left: 6px;
        align-items: flex-start;
        align-self: stretch;
        border-bottom: 1px solid #ABB2BF;
    }

    h3 {
        color: var(--white, #FFF);
        font-family: Fira Code;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        align-self: stretch;
        margin-left: 8px;
    }

    p {
        color: var(--gray, #ABB2BF);
        font-family: Fira Code;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -16px;
        margin-left: 8px;
    }
}

.cards{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.card2 {
    width: 331px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--gray, #ABB2BF);

    img {
        border-bottom: 1px solid var(--gray, #ABB2BF);
    }

    h4 {
        color: var(--gray, #ABB2BF);
        font-family: Fira Code;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .card__1__text2 {
        display: flex;
        padding-left: 6px;
        align-items: flex-start;
        align-self: stretch;
        border-bottom: 1px solid #ABB2BF;
    }

    h3 {
        color: var(--white, #FFF);
        font-family: Fira Code;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        align-self: stretch;
        margin-left: 8px;
    }

    p {
        color: var(--gray, #ABB2BF);
        font-family: Fira Code;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -16px;
        margin-left: 8px;
    }
}

.card3 {
    width: 331px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--gray, #ABB2BF);

    img {
        border-bottom: 1px solid var(--gray, #ABB2BF);
    }

    h4 {
        color: var(--gray, #ABB2BF);
        font-family: Fira Code;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .card__1__text3 {
        display: flex;
        padding-left: 6px;
        align-items: flex-start;
        align-self: stretch;
        border-bottom: 1px solid #ABB2BF;
    }

    h3 {
        color: var(--white, #FFF);
        font-family: Fira Code;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        align-self: stretch;
        margin-left: 8px;
    }

    p {
        color: var(--gray, #ABB2BF);
        font-family: Fira Code;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -16px;
        margin-left: 8px;
    }
}