.Header1 {
    background-color:  #282C33 !important;
    width: 100%;
    padding: 32px 0px 8px 0px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    margin: 0 auto;
    position: fixed;
    transition: 900ms all ease;
    margin-top: -10px;
    
}


.Logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
}

.logo__container {
    display: flex;
    flex-direction: row;
}

.Logo__text {
    margin-left: 20px;
    margin-top: 0;
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 9px;
}


.About__link {
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1034px;
    padding: 25px;
    text-decoration: none;
    &:hover{
        color: white;
        transition: all 0.3s ;
        -webkit-transition: all 0.3s ;
        -moz-transition: all 0.3s ;
        -ms-transition: all 0.3s ;
        -o-transition: all 0.3s ;
        text-shadow: 0 0 0.5em currentColor;
}
}


.Contact__link{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px;
    text-decoration: none;
    &:hover{
        color: white;
        transition: all 0.3s ;
        -webkit-transition: all 0.3s ;
        -moz-transition: all 0.3s ;
        -ms-transition: all 0.3s ;
        -o-transition: all 0.3s ;
        text-shadow: 0 0 0.5em currentColor;
}
}

.Project__link{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px;
    text-decoration: none;
    &:hover{
        color: white;
        transition: all 0.3s ;
        -webkit-transition: all 0.3s ;
        -moz-transition: all 0.3s ;
        -ms-transition: all 0.3s ;
        -o-transition: all 0.3s ;
        text-shadow: 0 0 0.5em currentColor;
}
}

.link__con{
    margin-top: 20px;
    
}


.sticky{
    background-color:  #282C33 !important;
    // max-width:100%;
    // padding-top: 28px;
     display: flex;
     justify-content: space-between !important;
    // padding-top: 28px;
    // margin: 0 auto;
    // padding-right: 83px !important;
    transition: 900ms all ease;
    
}

@media (max-width: 1819px) {
    .logo__container{
        width: 100px;
        height: 100px;
    }
    .About__link{
        margin-left: 500px;
    }
  }

  @media (max-width:974px){
    .Logo{
        width: 40px;
        height: 40px;
    }
    .Logo__text{
        font-size: 20px;
    }
    .About__link{
        margin-left: 10px;
    }
    .Header1{
        width: 100%;
    }
  }

  @media (max-width:643px){
    .Logo{
        width: 20px;
        height: 20px;
        margin-top: 20px;
    }
    .Logo__text{
        font-size: 15px;
        margin-top: 20px;
    }
  }

