.Header {
    width: 100%;
    padding: 32px 0px 8px 0px;
    display: flex;
    justify-content: space-between;
    background: var(--background, #282C33);
    margin: 0 auto;
}

.Logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
}

.logo__container {
    display: flex;
    flex-direction: row;
}

.Logo__text {
    margin-left: 20px;
    margin-top: 0;
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 9px;
}

.Project__link {
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Contact__link {
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.About__link {
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1034px;
    padding: 25px;
}

.Contact__link{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px;
}

.Project__link{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px;
}

.link__con{
    margin-top: 20px;
    
}


