.footer__logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    &:hover{
        box-shadow: 0 0 1em white;
    }
}

.footer {
    display: flex;
    margin-top: 150px;
    width: 100%;
    border: 1px solid #ABB2BF;
    padding-top: 32px;
    padding-bottom: 32px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con__logo {
    display: flex;
    flex-direction: row;
}

.logo__text {
    margin-top: 8px;
    margin-left: 20px;
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.email__text__logo {
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
    margin-left: 50px;
}

.text__2 {
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0 0 0.4em currentColor;
}

.media {
    
    img{
        &:hover{
            box-shadow: 0 0 0.5em currentColor;
        }
    }
}

.media__logo {
    display: flex;
    flex-direction: row;
    margin-left: -9px;
    margin-top: 11px;
}

.media__text {
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-shadow: 0 0 0.4em currentColor;
}

@media (max-width:526px){
    .media{
        img{
            width: 25px;
        }
        .media__text{
            font-size: 15px;
            margin-left: -29px;
        }
        .media__logo{
            margin-left: -42px;
        }
    }
}